body {
	box-sizing: border-box;
	margin: auto;
	padding: 50px;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: white;
	border: 5px  black; 
	background-image: url(");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	  }

	  }
}
.header {
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: orangered;
};
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: oblique;
}

h2 {
	font-family: 'Courier New', Courier, monospace;
	font-style: inherit;

}
