body {
	box-sizing: border-box;
	height: 300px;
	width: 800px;
	margin: auto;
	padding: 50px;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: cornflowerblue;
    border: 5px dotted gainsboro; 
}
.header {
	background-color: gray;
	background-image: url(http://getdrawings.com/san-francisco-bridge-vector#san-francisco-bridge-vector-25.png)
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
	color: lightblue;
}
